<div class="server-error-page">

    <div class="server-error-card">

        <!-- Icon -->
        <div class="server-icon">
            <span>!</span>
        </div>

        <!-- Title -->
        <h2>Không thể kết nối đến máy chủ</h2>

        <!-- Message -->
        <p class="server-title">
            Máy chủ hiện không phản hồi
        </p>

        <p class="server-description">
            Không thể kết nối đến hệ thống BookStore.
            Vui lòng kiểm tra kết nối hoặc thử lại sau.
        </p>

        <!-- Buttons -->
        <div class="button-group">

            <button
                class="btn-retry"
                type="button"
                >
                Thử lại
            </button>

            <button
                class="btn-home"
                type="button"
                routerLink="/">
                Về trang chủ
            </button>

        </div>

    </div>

</div>