<div class="table-responsive">
  <table class="table align-middle">
    <thead>
      <tr>
        
      </tr>
    </thead>
    <tbody>
      <tr>
        
      </tr>
      <tr class="align-bottom">
        
      </tr>
      <tr>
        <td class="edit">MÃ SÁCH</td>
        <td class="edit">TÊN SÁCH</td>
        <td class="edit">ẢNH</td>
        <td class="edit">GIÁ BÁN</td>
        <td class="edit">MÃ DANH MỤC</td>
        <td class="edit">TÊN DANH MỤC</td>
        <td class="edit">SỐ LƯỢNG</td>
        <td class="edit"> </td>
      </tr>
    </tbody>
  </table>
</div>